#t {
     background-color:black;
}
 #main-content {
     color:white;
}
 .download {
     position: fixed;
     cursor: pointer;
     left: 100px;
     bottom: 50px;
}
 .delete {
     position: fixed;
     cursor: pointer;
     left: 25px;
     bottom: 50px;
}
 .logging {
     color: white;
     position: fixed;
     left: 100px;
     bottom: 50px;
}
 .datasetSize {
     color: white;
     position: fixed;
     left: 175px;
     bottom: 35px;
}
 .score {
     color: white;
     position: fixed;
     left: 100px;
     bottom: 35px;
}
 .autobot {
     color: white;
     position: fixed;
     cursor: pointer;
     right: 100px;
     bottom: 50px;
}
 .upload {
     color: white;
     position: fixed;
     right: 100px;
     bottom: 35px;
}
 .upload input {
     display: none;
}
 .upload label:hover{
     cursor: pointer;
}
 